<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
      href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css>
    <title>S0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    
   </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
